.cv-generator {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.8rem;
}
.input-container {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 0.75rem);
}
.input-label {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: #828ba2;
}
.input-text {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background-color: rgb(239, 242, 249);
  border: 0px;
  border-radius: 3px;
  caret-color: rgb(26, 145, 240);
  outline: none;
  font-weight: 700;
  color: #000000;
  transition: color 0.1s ease 0s;
  border-bottom: 2px solid transparent;
}
.input-text:focus {
  border-bottom: 2px solid rgb(26, 145, 240);
}
