/* ------* Reset css *------- */
html {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  margin: 0px;
  box-sizing: inherit;
  font-family: "Quicksand", sans-serif;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #fff;
}

